<article id="post-3477" class="post-3477 page type-page status-publish hentry">
	<header class="entry-header">
		<!--<h1 class="entry-title">Terms of Use</h1>	</header>&lt;!&ndash; .entry-header &ndash;&gt;-->


	<!--<div class="entry-content">-->
		<!--<p style="text-align: justify;">C&amp;A Marketing, Inc. and its subsidiaries and affiliates (collectively, the “Company”) provides: (1) a POLAROID MINT (the “MINT Device”); (2) product software that may be downloaded to your smartphone or tablet (“App”); and (3) services accessible through the App (“Services”), all for use in conjunction with each other (“MINT Products and Services”) and in other ways that the Company provides.</p>-->
<!--<p style="text-align: justify;">These Terms of Use (“Terms”) govern your access to and use of the MINT Products and Services. Please read these Terms carefully. Your use of any of the MINT Products and Services indicates that you have read, accepted and agreed to these Terms and any other applicable document referred to herein.</p>-->
<!--<p style="text-align: justify;">You may not use the MINT Products and Services if you are a (a) person who is not of legal age to form a binding contract with the Company; or (b) person who is barred from receiving the MINT Products and Services under the laws of any country including the country in which you are a resident or from which you are using the MINT Products and Services.</p>-->
<!--<p style="text-align: justify;">Your use of the MINT Products and Services includes the ability to enter into agreements and/or to make transactions electronically. YOU ACKNOWLEDGE THAT YOUR ELECTRONIC ASSENT CONSTITUTES YOUR AGREEMENT AND INTENT TO BE BOUND BY THESE TERMS AND HONOR ALL TRANSACTIONS YOU ENTER INTO. The term “you,” as used in these Terms, means any person or entity who accesses or uses the MINT Products and Services, such as the original intended end user, authorized users, and the parents or guardians of authorized users, as applicable. IF YOU DO NOT AGREE WITH ANY OF THE PROVISIONS OF THESE TERMS, YOU SHOULD DISCONNECT YOUR PRODUCTS FROM THE APP AND CEASE ACCESSING OR USING THE SERVICES.</p>-->
<!--<p style="text-align: justify;">These Terms give you specific legal rights, but you may also have other legal rights in addition, which vary from jurisdiction to jurisdiction. The disclaimers, exclusions, and limitations of liability under these Terms will not apply to the extent prohibited by applicable law. Some jurisdictions do not allow the exclusion of implied warranties or the exclusion or limitation of incidental or consequential damages or other rights, so those provisions of these Terms may not apply to you.</p>-->
<!--<ol>-->
<!--<li><u>Use Requirements</u></li>-->
<!--</ol>-->
<!--<p style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You can always use the MINT Device to print photos, either instantly or on demand. This is because your MINT Device is equipped with ample memory space. Your MINT Device also comes with a microSD® card to boost your storage capacity should you choose to.</p>-->
<!--<p style="text-align: justify;">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To enhance your experience, you may download the free App for iOS or Android, allowing you to use the MINT Device in conjunction with the App and Services. Follow the prompts to connect your MINT Device to the App via Wi-Fi connectivity. Please note that the MINT App will not be accessible without:</p>-->
<!--<p style="text-align: justify;">(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A Wi-Fi network that works continuously in the location where the MINT Device is configured to work with the App, and with sufficient bandwidth that must be positioned to communicate reliably with the MINT Device; and</p>-->
<!--<p style="text-align: justify;">(ii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A MINT Device; and</p>-->
<!--<p style="text-align: justify;">(iii) &nbsp;&nbsp;&nbsp;&nbsp; A smartphone or tablet where the MINT App is installed.</p>-->
<!--<p style="text-align: justify;">It is your responsibility to ensure that you have all of the foregoing and that they are compatible and properly configured. You acknowledge that you are responsible for all fees charged by your ISP and Carrier in connection with your use of the MINT Products and Services. You also acknowledge that you are responsible for compliance with all applicable agreements, terms and conditions of your ISP and Carrier. You acknowledge that the MINT Products and Services may not work as described when the requirements and compatibility have not been met.</p>-->
<!--<ol start="2">-->
<!--<li><u>Scope of Services</u></li>-->
<!--</ol>-->
<!--<p style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upon the successful configuration of your MINT Device to the App, the Company grants you a non-transferable right to access and use the MINT Products and Services solely for lawful purposes and in accordance with these Terms.</p>-->
<!--<p style="text-align: justify;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company may from time to time develop patches, bug fixes, updates, upgrades and other modifications to improve the performance of the MINT Products and Services. Should you choose to, these may be automatically installed without providing any additional notice or receiving any additional consent. Otherwise, you may choose when to update the App when prompted, but you acknowledge and agree that omitting to do so may affect the performance thereof. You agree that you will not be entitled to any refund or rebate for any suspensions of the MINT Products and Services.</p>-->
<!--<p style="text-align: justify;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Only individuals 18 years old (or equivalent minimum age in the jurisdiction where you reside) or older are permitted to act as owners of the MINT Device. Owners may designate authorized users under 18 years old but over the age of 13, but must do so only if made under the supervision of a parent or legal guardian who agrees to be bound by these Terms. However, all responsibility for all actions of authorized users remains with the owner.</p>-->
<!--<p style="text-align: justify;">(d) &nbsp;&nbsp;&nbsp;&nbsp; You are solely responsible for all content that you upload, post, email, transmit, or otherwise disseminate using, or in connection with, the MINT Products and Services. Hence, you represent and warrant that you have all rights necessary to do so, and in the manner in which you choose to do it. The Company reserves the right to remove any content that involve or affect the Company’s intellectual property rights and reputation at any time.</p>-->
<!--<p style="text-align: justify;">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You also hereby expressly acknowledge and agree that you are entirely responsible for maintaining the privacy of your content, including data and images containing personal or sensitive information, and for all activities that occur in connection therewith. You acknowledge that you store your content at your own risk. The Company is not liable for any loss or damage arising from your failure to comply with these Terms.</p>-->
<!--<p style="text-align: justify;">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data protection and privacy laws where you live may impose certain responsibilities on you and your use of the MINT Products and Services, such as your ability to record or share video and/or audio content that includes third parties. You agree that you are responsible for ensuring that you comply with any applicable laws, and shall hold the Company free and harmless from any liability arising therefrom.</p>-->
<!--<p style="text-align: justify;">(g) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The MINT Products and Services may contain links to other websites and online resources and you understand that by using the same and accessing third party links, you may be exposed to content that is offensive, harmful, inaccurate, or otherwise inappropriate. You understand and agree that the Company is not responsible or liable for said content, or the availability or accuracy of such websites or resources. Links to such content, websites or resources do not imply any endorsement by the Company. Hence, you acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>-->
<!--<p style="text-align: justify;">(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You do NOT have the right to:</p>-->
<!--<p style="text-align: justify;">(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; License, sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the MINT Products and Services;</p>-->
<!--<p style="text-align: justify;">(ii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Modify, make derivative works of, disassemble, reverse compile, or reverse engineer any part of the MINT Products and Services;</p>-->
<!--<p style="text-align: justify;">(iii) &nbsp;&nbsp;&nbsp;&nbsp; Access the MINT Products and Services in order to build a similar or competitive service;</p>-->
<!--<p style="text-align: justify;">(iv) &nbsp;&nbsp;&nbsp;&nbsp; Copy, reproduce, distribute, republish, download, display, post, or transmit any part of the MINT Products and Services in any form or by any means;</p>-->
<!--<p style="text-align: justify;">(v) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upload, transmit, or distribute any computer viruses, worms, or any software intended to damage or alter a computer or communication network, device, data, or property;</p>-->
<!--<p style="text-align: justify;">(vi) &nbsp;&nbsp;&nbsp;&nbsp; Interfere with, disrupt, or attempt to gain unauthorized access to, the servers or networks connected to the MINT Products and Services;</p>-->
<!--<p style="text-align: justify;">(vii) &nbsp;&nbsp;&nbsp; Access any of the MINT Products and Services by alternative means other than those intended by the Company; and</p>-->
<!--<p style="text-align: justify;">(viii) &nbsp;&nbsp; Remove, obscure or alter any proprietary rights shown on or along with the MINT Products and Services.</p>-->
<!--<p style="text-align: justify;">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company is not responsible for any Owner’s or Authorized User’s behavior, or for any personal injury, death, property damage (including, without limitation, to your home), or other harm or losses arising from or relating to their use of the MINT Products and Services.</p>-->
<!--<p style="text-align: justify;">(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You acknowledge and agree that the MINT Products and Services are subject to intermittent interruptions and failures for a variety of reasons beyond the Company’s control, such as Wi-Fi and mobile signal limitations and system updates, among others, and for which the Company cannot be responsible.</p>-->
<!--<p style="text-align: justify;">(k)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please be sure to dispose of the MINT Device and battery at a properly designated recycling center in your jurisdiction.&nbsp; C&amp;A Marketing UK Ltd is a registered producer of battery and accumulator products (Registration No. BPRN06318) and of electrical and electronic products (Registration No. WEE/JK4235XX) in the U.K. For more information on proper disposal, please contact our support team.</p>-->
<!--<ol start="3">-->
<!--<li><u>Ownership and Intellectual Property</u></li>-->
<!--</ol>-->
<!--<p style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You acknowledge that all intellectual property rights, (<em>i.e.</em>, copyrights, patents, industrial designs, utility models, trademarks, and trade secrets) in the MINT Products and Services are owned by the Company or its affiliates or our licensors. Please refer to our <u>Intellectual Property Guidelines</u> at <a href="http://www.meetpolaroid.com">www.meetpolaroid.com</a> for more information. Your possession, access, and use of the MINT Products and Services do not transfer to you or any third party any rights, title, or interest in or to such intellectual property rights. The Company and its affiliates and licensors and suppliers reserve all rights not granted in these Terms. Save for the MINT device, the MINT Products and Services are licensed to you, not sold, under these Terms.</p>-->
<!--<p style="text-align: justify;">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You may only copy parts of the Product Software, in executable object code form only, on the MINT device that you purchased and/or on the computer and/or mobile device that you own or control for your own personal use. You may not use the MINT Products and Services in any other public or commercial way nor may you copy or incorporate any of the MINT Products and Services into any other work, including your own web site without the written consent of the Company. You must have a license from us before you can post or redistribute any portion of the MINT Products and Services, such as but not limited to the streaming of video and/or audio content on your website. The Company retains full and complete title to all content on the MINT Products and Services, including any downloadable software and all data that accompanies it. You must not copy, modify or in any way reproduce or damage the structure or presentation of the MINT Products and Services or any content therein.</p>-->
<!--<ol start="4">-->
<!--<li><u>Warranty Disclaimers</u></li>-->
<!--</ol>-->
<!--<p style="text-align: justify;">Product warranties accompany each product purchased. Unless otherwise stated, the following generally constitutes the Company’s product warranty.</p>-->
<!--<p style="text-align: justify;">&nbsp;</p>-->
<!--<p style="text-align: justify;">&nbsp;</p>-->
<!--<p style="text-align: justify;">LIMITED WARRANTY</p>-->
<!--<p style="text-align: justify;">TO ORIGINAL CONSUMER</p>-->
<!--<p style="text-align: justify;">&nbsp;</p>-->
<!--<p style="text-align: justify;">This POLAROID Product, including any accessories included in the original packaging, as supplied and distributed new by an authorized retailer is warranted by C&amp;A Marketing, Inc. (the “Company”) to the original consumer purchaser only, against certain defects in material and workmanship (“Warranty”) as follows:</p>-->
<!--<p style="text-align: justify;">&nbsp;</p>-->
<!--<table>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td width="131">Territory</td>-->
<!--<td width="133">Warranty</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td width="131">North, Central and South America<p></p>-->
<!--<p>&nbsp;</p></td>-->
<!--<td width="133">1 year</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td width="131">Asia, Africa, Australia and New Zealand<p></p>-->
<!--<p>&nbsp;</p></td>-->
<!--<td width="133">1 year</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td width="131">Europe and Russia</td>-->
<!--<td width="133">2 years<p></p>-->
<!--<p>&nbsp;</p></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--<p style="text-align: justify;">&nbsp;</p>-->
<!--<p style="text-align: justify;"><strong>To obtain Warranty Service and Troubleshooting contact information: Visit our website at </strong>meetpolaroid.com</p>-->
<!--<p style="text-align: justify;">To receive Warranty service, the original consumer purchaser must contact the Company or its authorized service provider for problem determination and service procedures. Proof of purchase in the form of a bill of sale or receipted invoice, evidencing that the Product is within the applicable Warranty period(s), MUST be presented to the Company or its authorized service provider in order to obtain the requested service.</p>-->
<!--<p style="text-align: justify;">Service options, parts availability, and response times may vary and may change at any time. In accordance with applicable law, the Company may require that you furnish additional documents and/or comply with registration requirements before receiving warranty service. Please contact our customer service at <a href="mailto:cspolaroid@camarketing.com">cspolaroid@camarketing.com</a> or 800-226-6534 for details on obtaining warranty service.</p>-->
<!--<p style="text-align: justify;">Shipping expenses to the Company’s Return Facility are not covered by this warranty, and must be paid by the consumer. The consumer likewise bears all risk of loss or further damage to the Product until delivery to said facility.</p>-->
<!--<p style="text-align: justify;"><strong>Exclusions and Limitations</strong></p>-->
<!--<p style="text-align: justify;">The Company warrants the Product against defects in materials and workmanship under normal use for a period of ONE (1) YEAR from the date of retail purchase by the original end-user purchaser (“Warranty Period”). If a hardware defect arises and a valid claim is received within the Warranty Period, the Company, at its sole option and to the extent permitted by law, will either (1) repair the Product defect at no charge, using new or refurbished replacement parts, (2) exchange the Product with a Product that is new or which has been manufactured from new or serviceable used parts and is at least functionally equivalent to the original device, or (3) refund the purchase price of the Product.</p>-->
<!--<p style="text-align: justify;">A replacement Product or part thereof shall enjoy the warranty of the original Product for the remainder of the Warranty Period, or ninety (90) days from the date of replacement or repair, whichever provides you longer protection. When a Product or part is exchanged, any replacement item becomes your property, while the replaced item becomes the Company’s property. Refunds can only be given if the original Product is returned.</p>-->
<!--<p style="text-align: justify;">This Warranty does not apply to:</p>-->
<!--<p style="text-align: justify;">(a) Any non-POLAROID product, hardware or software, even if packaged or sold with the Product;</p>-->
<!--<p style="text-align: justify;">(b) Damage caused by use with non- POLAROID products;</p>-->
<!--<p style="text-align: justify;">(c) Damage caused by accident, abuse, misuse, flood, fire, earthquake, or other external causes;</p>-->
<!--<p style="text-align: justify;">(d) Damage caused by operating the Product outside the permitted or intended uses described by the Company;</p>-->
<!--<p style="text-align: justify;">(e) Damage caused by third party services;</p>-->
<!--<p style="text-align: justify;">(f) A Product or part that has been modified to alter functionality or capability without the written permission of the Company;</p>-->
<!--<p style="text-align: justify;">(g) Consumable parts, such as the ZINK Photo Paper, batteries, fuses and bulbs;</p>-->
<!--<p style="text-align: justify;">(h) Cosmetic damage; or</p>-->
<!--<p style="text-align: justify;">(i) If any POLAROID serial number has been removed or defaced.</p>-->
<!--<p style="text-align: justify;">This Warranty is valid only in the country where the consumer purchased the Product, and only applies to Products purchased and serviced in that country. This Warranty does not cover images “burnt” into the screen.</p>-->
<!--<p style="text-align: justify;">The Company does not warrant that the operation of the Product will be uninterrupted or error-free. The Company is not responsible for damage arising from your failure to follow instructions relating to its use.</p>-->
<!--<p style="text-align: justify;">NOTWITHSTANDING ANYTHING TO THE CONTRARY AND TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE COMPANY PROVIDES THE PRODUCT “AS-IS” AND “AS-AVAILABLE” FOR YOUR CONVENIENCE AND THE COMPANY AND ITS LICENSORS AND SUPPLIERS EXPRESSLY DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUIET ENJOYMENT, ACCURACY, AND NON-INFRINGEMENT OF THIRD-PARTY RIGHTS. THE COMPANY DOES NOT GUARANTEE ANY SPECIFIC RESULTS FROM THE USE OF THE PRODUCT, OR THAT THE COMPANY WILL CONTINUE TO OFFER OR MAKE AVAILABLE THE PRODUCT FOR ANY PARTICULAR LENGTH OF TIME. THE COMPANY FURTHER DISCLAIMS ALL WARRANTIES AFTER THE EXPRESS WARRANTY PERIOD STATED ABOVE.</p>-->
<!--<p style="text-align: justify;">YOU USE THE PRODUCT AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR (AND THE COMPANY DISCLAIMS) ANY AND ALL LOSS, LIABILITY, OR DAMAGES RESULTING FROM YOUR USE OF THE PRODUCT.</p>-->
<!--<p style="text-align: justify;">NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM THE COMPANY OR THROUGH ITS AUTHORIZED SERVICE PROVIDERS SHALL CREATE ANY WARRANTY.</p>-->
<!--<p style="text-align: justify;">IN NO EVENT WILL THE COMPANY’S TOTAL CUMULATIVE LIABILITY ARISING FROM OR RELATED TO THE PRODUCT, WHETHER IN CONTRACT OR TORT OR OTHERWISE EXCEED THE FEES ACTUALLY PAID BY YOU TO THE COMPANY OR ANY OF ITS AUTHORIZED RESELLERS FOR THE PRODUCT AT ISSUE IN THE LAST YEAR FROM YOUR PURCHASE. THIS LIMITATION IS CUMULATIVE AND WILL NOT BE INCREASED BY THE EXISTENCE OF MORE THAN ONE INCIDENT OR CLAIM. THE COMPANY DISCLAIMS ALL LIABILITY OF ANY KIND OF ITS LICENSORS AND SUPPLIERS. IN NO EVENT WILL THE COMPANY OR ITS LICENSORS, MANUFACTURERS AND SUPPLIERS BE LIABLE FOR ANY INCIDENTAL, DIRECT, INDIRECT, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES (SUCH AS, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS, SAVINGS, DATA OR RECORDS) CAUSED BY THE USE, MISUSE OR INABILITY TO USE THE PRODUCT.</p>-->
<!--<p style="text-align: justify;">Nothing in these terms shall attempt to exclude liability that cannot be excluded under applicable law. Some countries, states or provinces do not allow the exclusion or limitation of incidental or consequential damages or allow limitations on warranties, so certain limitations or exclusions may not apply to you. This warranty gives you specific legal rights, and you may have other rights that vary from state to state or province to province. Contact your authorized retailer to determine if another warranty applies.</p>-->
<!--<p style="text-align: justify;">PLR IP Holdings, LLC does NOT manufacture this Product or provide any Warranty or support.</p>-->
<!--<ol start="5">-->
<!--<li><u>Fees and Payment</u></li>-->
<!--</ol>-->
<!--<p>Access to the App and Product Software are offered to you for free by the Company. Hence, THE LIMITATION OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN YOU AND THE COMPANY.</p>-->
<!--<ol start="6">-->
<!--<li><u>Privacy Policy</u></li>-->
<!--</ol>-->
<!--<p style="text-align: justify;">This Privacy Policy (“Privacy Policy”) describes what type of information we collect, use, process, share, disclose, store, transfer and dispose of, including personal information (<em>i.e.</em>, information that personally identifies you, such as your name, email address or billing information, or other data that can be reasonably used to infer this information, whether sensitive or not) through your use of the MINT App.</p>-->
<!--<p style="text-align: justify;">Before using our App, you must accept the terms and conditions contained in this document. Where available, you must click the “ACCEPT” button before use. Otherwise, your actual use of our App shall be taken as proof of acceptance of these terms and conditions. If you do not agree with our policies and practices or any aspect or feature of this Privacy Policy, your available option would be not to download, access or use our App.</p>-->
<!--<p style="text-align: justify;">(A) <u>Collection and Use</u></p>-->
<!--<p style="text-align: justify;">By using the App, you are consenting to our processing of your information as set forth in this Privacy Policy. “Processing” means using cookies on a computer or hand-held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States.</p>-->
<!--<p style="text-align: justify;">The Company collects and processes information about you through our App in a variety of ways. This information is used to provide users with various services, to allow us to understand how users utilize and navigate the App, and to provide advertising that may be relevant to your interests. Examples of collected information are outlined below:</p>-->
<!--<p style="text-align: justify;"><em>Personal Information and Photos </em></p>-->
<!--<p style="text-align: justify;">If you buy Photo Paper products from our App, we may request that you provide your name, email address, billing and shipping address, credit card information, telephone number, and any other information necessary to complete the transaction.</p>-->
<!--<p style="text-align: justify;">Your payment information may be stored for future use whenever you need it.</p>-->
<!--<p style="text-align: justify;">Please note though that we do not collect or store your full credit card information. Our credit card processing service providers will collect and store full payment card information from you when an order is placed, and until the order is shipped.</p>-->
<!--<p style="text-align: justify;">Enabling certain features of the App may cause the same to store your photos that are saved either on your mobile device or on other social media platforms that you authorize the App to have access to.</p>-->
<!--<p style="text-align: justify;"><em>Mailing List Information</em></p>-->
<!--<p style="text-align: justify;">Should you choose to, you can sign up for our POLAROID Newsletter or register your MINT Device at <a href="http://www.meetpolaroid.com">www.meetpolaroid.com</a>, and we will save your email in order to send you news about our related services, products or promotions. We may use one or more service providers to administer these messages, but we do not share your email address with spammers or any other third parties without your permission. Y<strong>ou can opt out of receiving our marketing and promotional emails</strong>. To stop receiving our marketing and promotional emails, follow the instructions in any marketing email you get from us.</p>-->
<!--<p style="text-align: justify;"><em>Usage Data</em></p>-->
<!--<p style="text-align: justify;">If you visit our App, we may record your device ID, IP address, or your mobile operations system and browsers you use and may record adjustments you make through the App or MINT Device. We store this data along with your email address, information about your MINT Device, data collected directly by the device, a history of your device settings, and any other information arising from your use of MINT Products and Services.</p>-->
<!--<p style="text-align: justify;">We may also analyze data collected through cookies and other tracking technology to collect information about your behavior when you visit our App.</p>-->
<!--<p style="text-align: justify;"><em>Third-Party Sites and Features</em></p>-->
<!--<p style="text-align: justify;">Our App contains links to social media platforms and other websites operated by third parties and may include social media features that the Company does not control. Your interactions with these features are governed by the privacy policy of the company providing the same.</p>-->
<!--<p style="text-align: justify;"><em>Minors</em></p>-->
<!--<p style="text-align: justify;">Our App does not knowingly collect or store any personal information about children under the age of 13 without permission from a parent or guardian. If you are a parent or guardian and you think your child under 13 has given us information, please contact us.</p>-->
<!--<p style="text-align: justify;">(B) <u>Data Sharing</u></p>-->
<!--<p style="text-align: justify;">We do not share your personal information for any commercial or marketing purpose if unrelated to the delivery of MINT Products and Services without your consent. Note that your consent would have been required if you connect your third party products and services to the MINT Device, if any. You can change your mind anytime by opting out, where applicable.</p>-->
<!--<p style="text-align: justify;">Please note though that we may have vendors, service providers, and technicians who help with some of our processing and storage of information, including helping to answer your questions when you request for customer support. They may also assist with monitoring our servers for technical problems. These technicians can access certain information about you in line with this work but these technicians are not allowed to use this data for unauthorized purposes. We also have strict policies and technical barriers in place to prevent unauthorized employee access to your data.</p>-->
<!--<p style="text-align: justify;">In the event that the Company or all or part of the Company’s assets is sold or transferred to a third party, your personal information may be among the items sold or transferred as well. If such is indeed the case, we will request the purchaser to secure and treat your data in accordance with the Privacy Policy in place at the time of its collection.</p>-->
<!--<p style="text-align: justify;">We may also provide information to a third party if we believe in good faith that we are required to do so for legal reasons, such as, disclosures pursuant to legal processes, U.S. state and federal laws, or foreign laws.</p>-->
<!--<p style="text-align: justify;">We may also share non-personal information (<em>e.g.</em>, de-identified or aggregate data) publicly and with our partners and, in some cases, to other users to help us generally improve our products and services. Please note though that we employ methods to keep this data from being associated with you and require our partners to do the same.</p>-->
<!--<p style="text-align: justify;">Your personal information may be collected, processed and stored by the Company or its service providers in the United States and other countries outside the European Union where our servers reside. As a result, your personal information may be subject to legal requirements, including transborder transfer of data regulations or other lawful requirements to disclose personal information to government authorities. You also agree to comply with all applicable export and import laws and regulations.</p>-->
<!--<p style="text-align: justify;">(C) <u>Security</u></p>-->
<!--<p style="text-align: justify;">The security and integrity of your personal information is of paramount concern to us. For this reason, we and our storage providers, if any, use commercially reasonable physical, administrative, and technological methods to collect, process, transmit and store your data securely. However, by using our App, you understand that the Company cannot guarantee unauthorized access at all times. In the event this occurs, we will take reasonable steps to investigate, notify those affected whenever appropriate, and take other steps in accordance with any applicable laws and regulations.</p>-->
<!--<p style="text-align: justify;">(D) <u>International Visitors and Data Transfers</u></p>-->
<!--<p style="text-align: justify;">The App is subject to U.S. laws, which may not provide the same level of protection as those in your country. If you live outside the United States, you understand and agree that we may transfer your information to the United States or our offices in other countries. &nbsp;If you are accessing the site from the European Union or other regions with laws governing data collection and use that may differ from U.S. law, you may be engaging in transborder transfer of data. By providing your personal data in our App, you consent to that transfer.</p>-->
<!--<p style="text-align: justify;">(E) <u>Opt-Out Rights</u></p>-->
<!--<p style="text-align: justify;">You have the right to opt-out of this arrangement and stop all collection of information by the App easily by uninstalling the App from your MINT Device. Kindly follow the standard uninstall processes available on your mobile device or through the mobile application marketplace or network.</p>-->
<!--<p style="text-align: justify;">(F) <u>Changes and Concerns</u></p>-->
<!--<p style="text-align: justify;">Please note that this Privacy Policy may change from time to time. Updates will be posted here. You are advised to consult this Privacy Policy regularly for any chances, as your continued use, downloading or accessing of the App shall be deemed your approval of such changes.</p>-->
<!--<p style="text-align: justify;">If you have a dispute with us about our adherence to applicable law or any concern regarding your personal information, please contact us at:</p>-->
<!--<p style="text-align: justify;">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:cspolaroid@camarketing.com">cspolaroid@camarketing.com</a><br>-->
<!--Telephone: &nbsp;&nbsp;&nbsp;&nbsp; 800-226-6534<br>-->
<!--Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 114 Tived Lane East, Edison, NJ 08837</p>-->
<!--<ol start="7">-->
<!--<li><u>Dispute Resolution and Arbitration</u></li>-->
<!--</ol>-->
<!--<p style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company and you agree to arbitrate all disputes and claims that arise from or relate to these Terms or the Services in any way. This agreement to arbitrate is intended to be broadly interpreted.</p>-->
<!--<p style="text-align: justify;">You agree that, by entering into this agreement, we are each waiving the right to a trial by jury or to participate in a class or representative action. These Terms evidence a transaction in interstate commerce, and thus the Federal Arbitration Act governs the interpretation and enforcement of this arbitration provision.</p>-->
<!--<p style="text-align: justify;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If either of us intends to seek arbitration of a dispute, that party must provide the other with notice in writing. The notice to the Company should be sent to:</p>-->
<!--<p style="text-align: justify;">C&amp;A Marketing, Inc.</p>-->
<!--<p style="text-align: justify;">Attention:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Office of the General Counsel</p>-->
<!--<p style="text-align: justify;">Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 114 Tived Lane East, Edison NJ 08837</p>-->
<!--<p style="text-align: justify;">Telephone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (848) 244 2000</p>-->
<!--<p style="text-align: justify;">The Company will send notice to you at the e‑mail and/or mailing addresses associated with your Account. Your notice to the Company must (a) provide your name, mailing address, and email address; (b) describe the dispute; and (c) state the relief you are requesting. If we are unable to reach an agreement to resolve the dispute within 60 days after the notice is received, either of us may commence arbitration.</p>-->
<!--<p style="text-align: justify;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The arbitration will be governed by the Consumer Arbitration Rules (“AAA Rules”) of the American Arbitration Association (“AAA”), as modified by these Terms, and will be administered by the AAA. If the AAA is unavailable, the parties shall agree to another arbitration provider or the court shall appoint a substitute. Unless we agree otherwise, any arbitration hearings will take place in the county where you are receiving our Services. If the value of your claim is $10,000 or less, we agree that you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, by telephone, or by an in-person hearing. If the value of your claim exceeds $10,000, the right to a hearing will be determined by the AAA Rules.</p>-->
<!--<p style="text-align: justify;">Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the award is based. All issues are for the arbitrator to decide, except that issues relating to the scope and enforceability of this arbitration provision or the arbitrability of disputes are for the court to decide. The arbitrator may consider but is not bound by rulings in other arbitrations between the Company and other MINT users. The arbitrator can award the same individualized damages and relief that a court can award, including which of us shall bear the costs of arbitration. Judgment on the award may be entered by any court having jurisdiction.</p>-->
<!--<p style="text-align: justify;">The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party’s individual claim. YOU AND THE COMPANY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, REPRESENTATIVE, OR PRIVATE ATTORNEY GENERAL PROCEEDING.</p>-->
<!--<p style="text-align: justify;">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Notwithstanding the foregoing, the Company may seek injunctive or other equitable relief to protect its confidential information and intellectual property rights or to prevent loss of data or damage to its servers in any court of competent jurisdiction.</p>-->
<!--<ol start="7">-->
<!--<li><u>General</u></li>-->
<!--</ol>-->
<!--<p style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms will remain in full force and effect so long as you continue to access or use the MINT Products and Services, or until terminated in accordance with the provisions of these Terms. The Company reserves the right, at any time, to modify, suspend, or discontinue the MINT Products and Services or any part thereof with or without notice. You agree that the Company will not be liable to you or to any third party for any modification, suspension, or discontinuance of the Services or any part thereof. Notwithstanding any provision of these Terms, the Company may at any time (i) suspend or terminate your rights to access or use the MINT Products and Services, or (ii) terminate these Terms with respect to you if the Company in good faith believes that you have used the MINT Products and Services in violation of these Terms, including any incorporated guidelines, terms or rules. Upon termination of these Terms, your Account and your right to use the MINT Products and Services will automatically terminate.</p>-->
<!--<p style="text-align: justify;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company reserves the right to make changes to these Terms. You should ensure that you have read and agree with our most recent Terms when you use the MINT Products and Services. Continued use of the MINT Products and Services following notice of such changes shall indicate your acknowledgment of such changes and agreement to be bound by the revised Terms.</p>-->
<!--<p style="text-align: justify;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms, and any claim, dispute, action, cause of action, issue, or request for relief arising out of or relating to these Terms or your use of the MINT Products and Services shall be governed by the laws of the State of New Jersey without giving effect to any conflict of laws principles that may provide the application of the law of another jurisdiction. You agree to submit to the personal jurisdiction of the state and federal courts in or for the Middlesex County of New Jersey for the purpose of litigating all such claims or disputes, unless such claim or dispute is required to be arbitrated as set forth in Section 6 above.</p>-->
<!--<p style="text-align: justify;">(d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms constitute the entire agreement between you and the Company regarding the use of the MINT Products and Services. Any failure by the Company to exercise or enforce any right or provision of these Terms shall not operate as a waiver of such right or provision. Waivers are effective only if in writing and signed by a duly authorized officer of the Company. The section titles in these Terms are for convenience only and have no legal or contractual effect. If any provision of these Terms is, for any reason, held to be invalid or unenforceable, the other provisions of these Terms will be unimpaired and the invalid or unenforceable provision will be deemed modified so that it is valid and enforceable to the maximum extent permitted by law. Neither party is an agent or partner of the other party.</p>-->
<!--<p style="text-align: justify;">(e) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The obligations in these Terms will survive any expiration or termination thereof.</p>-->
<!--<p style="text-align: justify;">(f) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms, and any associated rights or obligations, may not be assigned or otherwise transferred by you without the Company’s prior written consent. These Terms may be assigned by the Company without restriction. These Terms are binding upon any permitted assignee.</p>-->
<!--<p>&nbsp;</p>-->
<!--<p>&nbsp;</p>-->
<!--<p>&nbsp;</p>-->
<!--<p>&nbsp;</p>-->
<!--<p>&nbsp;</p>-->
	<!--</div>&lt;!&ndash; .entry-content &ndash;&gt;-->

    <div class="page-width" appify_fntsize="14px" style='color: white;font-size:14px;font-family:"Graphik-Regular";text-align: left;line-height: 23pt'>
		<div class="inner-content-width" appify_fntsize="14px" style="font-size: 14px;">
			<!--<h2 class="small&#45;&#45;text-center">Kodak Smile Terms Of Use</h2>-->
			<div class="content-block" appify_fntsize="14px" style="font-size: 14px;">
				<div class="rte rte--indented-images" appify_fntsize="14px" style="font-size: 14px;">
					<p appify_fntsize="18px" style="font-size: 18px;line-height: 32pt">TERMS OF USE</p>
					<p appify_fntsize="13px" style="text-align: justify;">C&amp;A Marketing, Inc. and its subsidiaries and affiliates (collectively, the “Company”) provides: (1) a KODAK SMILE Instant Digital Printer (the “KODAK SMILE Device”); (2) product software that may be downloaded to your smartphone or tablet (“App”); and (3) services accessible through the App (“Services”), all for use in conjunction with each other (“KODAK SMILE Products and Services”) and in other ways that the Company provides.</p>
					<p appify_fntsize="13px" style="text-align: justify;">These Terms of Use (“Terms”) govern your access to and use of the KODAK SMILE Products and Services. Please read these Terms carefully. Your use of any of the KODAK SMILE Products and Services indicates that you have read, accepted and agreed to these Terms and any other applicable document referred to herein.</p>
					<p appify_fntsize="13px" style="text-align: justify;">You may not use the KODAK SMILE Products and Services if you are a (a) person who is not of legal age to form a binding contract with the Company; or (b) person who is barred from receiving the KODAK SMILE Products and Services under the laws of any country including the country in which you are a resident or from which you are using the KODAK SMILE Products and Services.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Your use of the KODAK SMILE Products and Services includes the ability to enter into agreements and/or to make transactions electronically. YOU ACKNOWLEDGE THAT YOUR ELECTRONIC ASSENT CONSTITUTES YOUR AGREEMENT AND INTENT TO BE BOUND BY THESE TERMS AND HONOR ALL TRANSACTIONS YOU ENTER INTO. The term “you,” as used in these Terms, means any person or entity who accesses or uses the KODAK SMILE Products and Services, such as the original intended end user, authorized users, and the parents or guardians of authorized users, as applicable. IF YOU DO NOT AGREE WITH ANY OF THE PROVISIONS OF THESE TERMS, YOU SHOULD DISCONNECT YOUR PRODUCTS FROM THE APP, CEASE ACCESSING OR USING THE SERVICES, and, if available, request for a refund for your purchase through our support team.</p>
					<p appify_fntsize="13px" style="text-align: justify;">These Terms give you specific legal rights, but you may also have other legal rights in addition, which vary from jurisdiction to jurisdiction. The disclaimers, exclusions, and limitations of liability under these Terms will not apply to the extent prohibited by applicable law. Some jurisdictions do not allow the exclusion of implied warranties or the exclusion or limitation of incidental or consequential damages or other rights, so those provisions of these Terms may not apply to you.</p>
					<ol style="text-align: justify;">
						<li appify_fntsize="15px" style="text-align: justify;"><u appify_fntsize="15px" style="font-size: 13px;">Use Requirements</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You can only use the KODAK SMILE Device to print photos by downloading the free App for iOS or Android. Follow the prompts to connect your KODAK SMILE Device to the App via Bluetooth. Please note that the KODAK SMILE App will not be accessible without:</p>
					<p appify_fntsize="13px" style="text-align: justify;">(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bluetooth connectivity that works continuously in the location where the KODAK SMILE Device is configured to work with the App;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(ii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A KODAK SMILE Device; and</p>
					<p appify_fntsize="13px" style="text-align: justify;">(iii) &nbsp;&nbsp;&nbsp;&nbsp; A smartphone or tablet where the KODAK SMILE App is installed.</p>
					<p appify_fntsize="13px" style="text-align: justify;">It is your responsibility to ensure that you have all of the foregoing and that they are compatible and properly configured. You acknowledge that you are responsible for all fees charged by your ISP and Carrier in connection with your use of the KODAK SMILE Products and Services. You also acknowledge that you are responsible for compliance with all applicable agreements, terms and conditions of your ISP and Carrier. You acknowledge that the KODAK SMILE Products and Services may not work as described when the requirements and compatibility have not been met.</p>
					<ol start="2" appify_fntsize="15px" style="font-size: 15px;">
						<li appify_fntsize="15px" style="text-align: justify;"><u appify_fntsize="15px" style="font-size: 15px;">Scope of Services</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upon the successful configuration of your KODAK SMILE Device to the App, the Company grants you a non-transferable right to access and use the KODAK SMILE Products and Services solely for lawful purposes and in accordance with these Terms.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company may from time to time develop patches, bug fixes, updates, upgrades and other modifications to improve the performance of the KODAK SMILE Products and Services. Should you choose to, these may be automatically installed without providing any additional notice or receiving any additional consent. Otherwise, you may choose when to update the App when prompted, but you acknowledge and agree that omitting to do so may affect the performance thereof. You agree that you will not be entitled to any refund or rebate for any suspensions of the KODAK SMILE Products and Services.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Only individuals 18 years old (or equivalent minimum age in the jurisdiction where you reside) or older are permitted to act as owners of the KODAK SMILE Device. Owners may designate authorized users under 18 years old but over the age of 13, but must do so only if made under the supervision of a parent or legal guardian who agrees to be bound by these Terms. However, all responsibility for all actions of authorized users remains with the owner.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(d) &nbsp;&nbsp;&nbsp;&nbsp; You are solely responsible for all content that you upload, post, email, transmit, or otherwise disseminate using, or in connection with, the KODAK SMILE Products and Services. Hence, you represent and warrant that you have all rights necessary to do so, and in the manner in which you choose to do it. The Company reserves the right to remove any content that involve or affect the Company’s intellectual property rights and reputation at any time.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(e)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You also hereby expressly acknowledge and agree that you are entirely responsible for maintaining the privacy of your content, including data and images containing personal or sensitive information, and for all activities that occur in connection therewith. You acknowledge that you store your content at your own risk. The Company is not liable for any loss or damage arising from your failure to comply with these Terms.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(f)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data protection and privacy laws where you live may impose certain responsibilities on you and your use of the KODAK SMILE Products and Services, such as your ability to record or share video, audio and or photographic content that include third parties. You agree that you are responsible for ensuring that you comply with any applicable laws, and shall hold the Company free and harmless from any liability arising therefrom.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(g) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The KODAK SMILE Products and Services may contain links to other websites and online resources and you understand that by using the same and accessing third party links, you may be exposed to content that is offensive, harmful, inaccurate, or otherwise inappropriate. You understand and agree that the Company is not responsible or liable for said content, or the availability or accuracy of such websites or resources. Links to such content, websites or resources do not imply any endorsement by the Company. Hence, you acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(h)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You do NOT have the right to:</p>
					<p appify_fntsize="13px" style="text-align: justify;">(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; License, sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the KODAK SMILE Products and Services;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(ii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Modify, make derivative works of, disassemble, reverse compile, or reverse engineer any part of the KODAK SMILE Products and Services;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(iii) &nbsp;&nbsp;&nbsp;&nbsp; Access the KODAK SMILE Products and Services in order to build a similar or competitive service;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(iv) &nbsp;&nbsp;&nbsp;&nbsp; Copy, reproduce, distribute, republish, download, display, post, or transmit any part of the KODAK SMILE Products and Services in any form or by any means;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(v) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upload, transmit, or distribute any computer viruses, worms, or any software intended to damage or alter a computer or communication network, device, data, or property;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(vi) &nbsp;&nbsp;&nbsp;&nbsp; Interfere with, disrupt, or attempt to gain unauthorized access to, the servers or networks connected to the KODAK SMILE Products and Services;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(vii) &nbsp;&nbsp;&nbsp; Access any of the KODAK SMILE Products and Services by alternative means other than those intended by the Company; and</p>
					<p appify_fntsize="13px" style="text-align: justify;">(viii) &nbsp;&nbsp; Remove, obscure or alter any proprietary rights shown on or along with the KODAK SMILE Products and Services.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(i)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company is not responsible for any owner’s or authorized user’s behavior, or for any personal injury, death, property damage (including, without limitation, to your home), or other harm or losses arising from or relating to their use of the KODAK SMILE Products and Services.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(j)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You acknowledge and agree that the KODAK SMILE Products and Services are subject to intermittent interruptions and failures for a variety of reasons beyond the Company’s control, such as Wi-Fi and mobile signal limitations and system updates, among others, and for which the Company cannot be responsible.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(k)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please be sure to dispose of the KODAK SMILE Device and battery at a properly designated recycling center in your jurisdiction.&nbsp; C&amp;A Marketing UK Ltd is a registered producer of battery and accumulator products (Registration No. BPRN06318) and of electrical and electronic products (Registration No. WEE/JK4235XX) in the U.K. For more information on proper disposal, please contact our support team.</p>
					<ol start="3" appify_fntsize="15px" style="font-size: 15px;">
						<li appify_fntsize="15px" style="font-size: 15px;"><u appify_fntsize="15px" style="font-size: 15px;">Ownership and Intellectual Property</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You acknowledge that all intellectual property rights, (<em appify_fntsize="13px" style="font-size: 13px;">i.e.</em>, copyrights, patents, industrial designs, utility models, trademarks, and trade secrets) in the KODAK SMILE Products and Services are owned by the Company or its affiliates or our licensors. Please refer to our <u appify_fntsize="13px" style="font-size: 13px;">IP Guidelines</u> at <span appify_fntsize="13px" style="font-size: 13px;"><a href="http://www.kodakphotoplus.com" appify_fntsize="13px" style="font-size: 13px;">www.kodakphotoplus.com</a></span> for more information. Your possession, access, and use of the KODAK SMILE Products and Services do not transfer to you or any third party any rights, title, or interest in or to such intellectual property rights. The Company and its affiliates and licensors and suppliers reserve all rights not granted in these Terms. Save for the KODAK SMILE Device, the KODAK SMILE Products and Services are licensed to you, not sold, under these Terms.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(b)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You may only copy parts of the Product Software, in executable object code form only, on the KODAK SMILE Device that you purchased and/or on the computer and/or mobile device that you own or control for your own personal use. You may not use the KODAK SMILE Products and Services in any other public or commercial way nor may you copy or incorporate any of the KODAK SMILE Products and Services into any other work, including your own web site without the written consent of the Company. You must have a license from us before you can post or redistribute any portion of the KODAK SMILE Products and Services, such as but not limited to the streaming or publication of video, audio and/or photographic content on your website, if available. The Company retains full and complete title to all content on the KODAK SMILE Products and Services, including any downloadable software and all data that accompanies it. You must not copy, modify or in any way reproduce or damage the structure or presentation of the KODAK SMILE Products and Services or any content therein.</p>
					<ol start="4" appify_fntsize="15px" style="font-size: 15px;">
						<li appify_fntsize="15px" style="font-size: 15px;"><u appify_fntsize="15px" style="font-size: 15px;">Warranty Disclaimers</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">Product warranties accompany each product purchased. Unless otherwise stated, the following generally constitutes the Company’s product warranty.</p>
					<p appify_fntsize="13px" style="text-align: justify;">&nbsp;</p>
					<p appify_fntsize="13px" style="text-align: justify;">&nbsp;</p>
					<p appify_fntsize="13px" style="text-align: justify;">LIMITED WARRANTY</p>
					<p appify_fntsize="13px" style="text-align: justify;">TO ORIGINAL CONSUMER</p>
					<p appify_fntsize="13px" style="text-align: justify;">&nbsp;</p>
					<p appify_fntsize="13px" style="text-align: justify;">This KODAK SMILE Device, including any accessories included in the original packaging, as supplied and distributed new by an authorized retailer is warranted by C&amp;A Marketing, Inc. (the “Company”) to the original consumer purchaser only, against certain defects in material and workmanship (“Warranty”) as follows:</p>
					<p appify_fntsize="13px" style="text-align: justify;">&nbsp;</p>
					<div class="rte__table-wrapper" appify_fntsize="15px" style="font-size: 15px;"><table appify_fntsize="15px" style="font-size: 15px;">
						<tbody appify_fntsize="15px" style="text-align: justify;">
						<tr appify_fntsize="15px" style="font-size: 15px;">
							<td appify_fntsize="13px" style="font-size: 13px;" width="131">
								<p appify_fntsize="13px" style="font-size: 13px;">Territory</p>
							</td>
							<td appify_fntsize="15px" style="font-size: 15px;" width="133">
								<p appify_fntsize="13px" style="font-size: 13px;">Warranty</p>
							</td>
						</tr>
						<tr appify_fntsize="15px" style="font-size: 15px;">
							<td appify_fntsize="15px" style="font-size: 15px;" width="131">
								<p appify_fntsize="13px" style="font-size: 13px;">North, Central and South America</p>
								<p appify_fntsize="13px" style="font-size: 13px;">&nbsp;</p>
							</td>
							<td appify_fntsize="15px" style="font-size: 15px;" width="133">
								<p appify_fntsize="13px" style="font-size: 13px;">1 year</p>
							</td>
						</tr>
						<tr appify_fntsize="15px" style="font-size: 15px;">
							<td appify_fntsize="15px" style="font-size: 15px;" width="131">
								<p appify_fntsize="13px" style="font-size: 13px;">Asia, Africa, Australia and New Zealand</p>
								<p appify_fntsize="13px" style="font-size: 13px;">&nbsp;</p>
							</td>
							<td appify_fntsize="15px" style="font-size: 15px;" width="133">
								<p appify_fntsize="13px" style="font-size: 13px;">1 year</p>
							</td>
						</tr>
						<tr appify_fntsize="15px" style="font-size: 15px;">
							<td appify_fntsize="15px" style="font-size: 15px;" width="131">
								<p appify_fntsize="13px" style="font-size: 13px;">Europe and Russia</p>
							</td>
							<td appify_fntsize="15px" style="font-size: 15px;" width="133">
								<p appify_fntsize="13px" style="font-size: 13px;">2 years</p>
								<p appify_fntsize="13px" style="font-size: 13px;">&nbsp;</p>
							</td>
						</tr>
						</tbody>
					</table></div>
					<p appify_fntsize="13px" style="text-align: justify;">&nbsp;</p>
					<p appify_fntsize="13px" style="text-align: justify;"><strong appify_fntsize="13px" style="font-size: 13px;">To obtain Warranty Service and Troubleshooting contact information: Visit our website at </strong>kodakphotoplus.com</p>
					<p appify_fntsize="13px" style="text-align: justify;">To receive Warranty service, the original consumer purchaser must contact the Company or its authorized service provider for problem determination and service procedures. Proof of purchase in the form of a bill of sale or receipted invoice, evidencing that the Product is within the applicable Warranty period(s), MUST be presented to the Company or its authorized service provider in order to obtain the requested service.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Service options, parts availability, and response times may vary and may change at any time. In accordance with applicable law, the Company may require that you furnish additional documents and/or comply with registration requirements before receiving warranty service. Please contact our customer service at <span appify_fntsize="13px" style="font-size: 13px;"><a href="mailto:kodak@caglobal.com" appify_fntsize="13px" style="font-size: 13px;">kodak@camarketing.com</a></span> or 1-844-516-1539 for details on obtaining warranty service.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Shipping expenses to the Company’s Return Facility are not covered by this warranty, and must be paid by the consumer. The consumer likewise bears all risk of loss or further damage to the Product until delivery to said facility.</p>
					<p appify_fntsize="13px" style="text-align: justify;"><strong appify_fntsize="13px" style="font-size: 13px;">Exclusions and Limitations</strong></p>
					<p appify_fntsize="13px" style="text-align: justify;">The Company warrants the Product against defects in materials and workmanship under normal use for a period of ONE (1) YEAR from the date of retail purchase by the original end-user purchaser (“Warranty Period”). If a hardware defect arises and a valid claim is received within the Warranty Period, the Company, at its sole option and to the extent permitted by law, will either (1) repair the Product defect at no charge, using new or refurbished replacement parts, (2) exchange the Product with a Product that is new or which has been manufactured from new or serviceable used parts and is at least functionally equivalent to the original device, or (3) refund the purchase price of the Product.</p>
					<p appify_fntsize="13px" style="text-align: justify;">A replacement Product or part thereof shall enjoy the warranty of the original Product for the remainder of the Warranty Period, or ninety (90) days from the date of replacement or repair, whichever provides you longer protection. When a Product or part is exchanged, any replacement item becomes your property, while the replaced item becomes the Company’s property. Refunds can only be given if the original Product is returned.</p>
					<p appify_fntsize="13px" style="text-align: justify;">This Warranty does not apply to:</p>
					<p appify_fntsize="13px" style="text-align: justify;">(a) Any non-KODAK SMILE product, hardware or software, even if packaged or sold with the Product;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(b) Damage caused by use with non-KODAK SMILE products;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(c) Damage caused by accident, abuse, misuse, flood, fire, earthquake, or other external causes;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(d) Damage caused by operating the Product outside the permitted or intended uses described by the Company;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(e) Damage caused by third party services;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(f) &nbsp; A Product or part that has been modified to alter functionality or capability without the written permission of the Company;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(g) Consumable parts, such as the ZINK Photo Paper, batteries, fuses and bulbs;</p>
					<p appify_fntsize="13px" style="text-align: justify;">(h) Cosmetic damage; or</p>
					<p appify_fntsize="13px" style="text-align: justify;">(i) &nbsp; If any serial number has been removed or defaced.</p>
					<p appify_fntsize="13px" style="text-align: justify;">This Warranty is valid only in the country where the consumer purchased the Product, and only applies to Products purchased and serviced in that country. This Warranty does not cover images “burnt” into the screen.</p>
					<p appify_fntsize="13px" style="text-align: justify;">The Company does not warrant that the operation of the Product will be uninterrupted or error-free. The Company is not responsible for damage arising from your failure to follow instructions relating to its use.</p>
					<p appify_fntsize="13px" style="text-align: justify;">NOTWITHSTANDING ANYTHING TO THE CONTRARY AND TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE COMPANY PROVIDES THE PRODUCT “AS-IS” AND “AS-AVAILABLE” FOR YOUR CONVENIENCE AND THE COMPANY AND ITS LICENSORS AND SUPPLIERS EXPRESSLY DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUIET ENJOYMENT, ACCURACY, AND NON-INFRINGEMENT OF THIRD-PARTY RIGHTS. THE COMPANY DOES NOT GUARANTEE ANY SPECIFIC RESULTS FROM THE USE OF THE PRODUCT, OR THAT THE COMPANY WILL CONTINUE TO OFFER OR MAKE AVAILABLE THE PRODUCT FOR ANY PARTICULAR LENGTH OF TIME. THE COMPANY FURTHER DISCLAIMS ALL WARRANTIES AFTER THE EXPRESS WARRANTY PERIOD STATED ABOVE.</p>
					<p appify_fntsize="13px" style="text-align: justify;">YOU USE THE PRODUCT AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR (AND THE COMPANY DISCLAIMS) ANY AND ALL LOSS, LIABILITY, OR DAMAGES RESULTING FROM YOUR USE OF THE PRODUCT.</p>
					<p appify_fntsize="13px" style="text-align: justify;">NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM THE COMPANY OR THROUGH ITS AUTHORIZED SERVICE PROVIDERS SHALL CREATE ANY WARRANTY.</p>
					<p appify_fntsize="13px" style="text-align: justify;">IN NO EVENT WILL THE COMPANY’S TOTAL CUMULATIVE LIABILITY ARISING FROM OR RELATED TO THE PRODUCT, WHETHER IN CONTRACT OR TORT OR OTHERWISE EXCEED THE FEES ACTUALLY PAID BY YOU TO THE COMPANY OR ANY OF ITS AUTHORIZED RESELLERS FOR THE PRODUCT AT ISSUE IN THE LAST YEAR FROM YOUR PURCHASE. THIS LIMITATION IS CUMULATIVE AND WILL NOT BE INCREASED BY THE EXISTENCE OF MORE THAN ONE INCIDENT OR CLAIM. THE COMPANY DISCLAIMS ALL LIABILITY OF ANY KIND OF ITS LICENSORS AND SUPPLIERS. IN NO EVENT WILL THE COMPANY OR ITS LICENSORS, MANUFACTURERS AND SUPPLIERS BE LIABLE FOR ANY INCIDENTAL, DIRECT, INDIRECT, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES (SUCH AS, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS, SAVINGS, DATA OR RECORDS) CAUSED BY THE USE, MISUSE OR INABILITY TO USE THE PRODUCT.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Nothing in these terms shall attempt to exclude liability that cannot be excluded under applicable law. Some countries, states or provinces do not allow the exclusion or limitation of incidental or consequential damages or allow limitations on warranties, so certain limitations or exclusions may not apply to you. This warranty gives you specific legal rights, and you may have other rights that vary from state to state or province to province. Contact your authorized retailer to determine if another warranty applies.</p>
					<p appify_fntsize="13px" style="text-align: justify;">KODAK does NOT manufacture this Product or provide any Warranty or support.</p>
					<ol start="5" appify_fntsize="15px" style="font-size: 15px;">
						<li appify_fntsize="15px" style="text-align: justify;"><u appify_fntsize="15px" style="text-align: justify;">Fees and Payment</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">Access to the App and Product Software are offered to you for free by the Company. Hence, THE LIMITATION OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN YOU AND THE COMPANY.</p>
					<ol start="6" appify_fntsize="15px" style="text-align: justify;">
						<li appify_fntsize="15px" style="text-align: justify;"><u appify_fntsize="15px" style="text-align: justify;">Privacy Policy</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">This Privacy Policy (“Privacy Policy”) describes what type of information we collect, use, process, share, disclose, store, transfer and dispose of, including personal information (<em appify_fntsize="13px" style="font-size: 13px;">i.e.</em>, information that personally identifies you, such as your name, email address or billing information if given, content that you authorize access to [such as augmented reality or artificial intelligence searches], or other data that can be reasonably used to infer personal information, whether sensitive or not) through your use of the KODAK SMILE App.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Before using our App, you must accept the terms and conditions contained in this document. Where available, you must click the “ACCEPT” button before use. Otherwise, your actual use of our App shall be taken as proof of acceptance of these terms and conditions. If you do not agree with our policies and practices or any aspect or feature of this Privacy Policy, your available option would be not to download, access or use our App. If available, a refund for your purchase may be given to you by contacting our support team.</p>
					<p appify_fntsize="13px" style="text-align: justify;"><span appify_fntsize="13px" style="font-size: 13px;">If you do not wish to disclose your personal information, you may use the following generic credentials instead to enjoy anonymous use of the App and the relevant Product and Services: Name: KODAK SMILE PRINTER; Email ID: </span><span appify_fntsize="13px" style="font-size: 13px;"><a href="mailto:printer@kodakphotoplus.com" appify_fntsize="13px" style="font-size: 13px;">printer@kodakphotoplus.com</a></span><span appify_fntsize="13px" style="font-size: 13px;">. In doing so, however, please note that certain functionalities of the Device may be limited due to lack of content. Therefore, a refund may be your best option. Call our support team for more information.</span></p>
					<p appify_fntsize="13px" style="text-align: justify;">(A) <u appify_fntsize="13px" style="font-size: 13px;">Collection and Use</u></p>
					<p appify_fntsize="13px" style="text-align: justify;">By using the App, you are consenting to our processing of your information as set forth in this Privacy Policy. “Processing” means using cookies on a computer or hand-held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States.</p>
					<p appify_fntsize="13px" style="text-align: justify;">The Company collects and processes information about you through our App in a variety of ways. This information is used to provide users with various services, to allow us to understand how users utilize and navigate the App, and to provide advertising that may be relevant to your interests. Examples of collected information are outlined below:</p>
					<p appify_fntsize="13px" style="text-align: justify;"><em appify_fntsize="13px" style="font-size: 13px;">Personal Information and Photos </em></p>
					<p appify_fntsize="13px" style="text-align: justify;">If you buy Photo Paper products from our App, we may request that you provide your name, email address, billing and shipping address, credit card information, telephone number, and any other information necessary to complete the transaction.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Your payment information may be stored for future use whenever you need it.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Please note though that we do not collect or store your full credit card information. Our credit card processing service providers will collect and store full payment card information from you when an order is placed, and until the order is shipped.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Enabling certain features of the App may cause the same to store your photos and/or videos that are saved either on your mobile device, the App’s cloud storage, or on other social media platforms that you authorize the App to have access to.</p>
					<p appify_fntsize="13px" style="text-align: justify;"><em appify_fntsize="13px" style="font-size: 13px;">Mailing List Information</em></p>
					<p appify_fntsize="13px" style="text-align: justify;">Should you choose to, you can sign up for our Newsletter or register your KODAK SMILE Device at <span appify_fntsize="13px" style="font-size: 13px;"><a href="http://www.kodakphotoplus.com" appify_fntsize="13px" style="font-size: 13px;">www.kodakphotoplus.com</a></span>, and we will save your email in order to send you news about our related services, products or promotions. We may use one or more service providers to administer these messages, but we do not share your email address with spammers or any other third parties without your permission. Y<strong appify_fntsize="13px" style="font-size: 13px;">ou can opt out of receiving our marketing and promotional emails</strong>. To stop receiving our marketing and promotional emails, follow the instructions in any marketing email you get from us.</p>
					<p appify_fntsize="13px" style="text-align: justify;"><em appify_fntsize="13px" style="font-size: 13px;">Usage Data</em></p>
					<p appify_fntsize="13px" style="text-align: justify;">If you visit our App, we may record your device ID, IP address, or your mobile operations system and browsers you use and may record adjustments you make through the App or KODAK SMILE Device. We store this data along with your email address, information about your KODAK SMILE Device, data collected directly by the device, a history of your device settings, and any other information arising from your use of KODAK SMILE Products and Services.</p>
					<p appify_fntsize="13px" style="text-align: justify;">We may also analyze data collected through cookies and other tracking technology to collect information about your behavior when you visit our App.</p>
					<p appify_fntsize="13px" style="text-align: justify;"><em appify_fntsize="13px" style="font-size: 13px;">Third-Party Sites and Features</em></p>
					<p appify_fntsize="13px" style="text-align: justify;">Our App contains links to social media platforms and other websites operated by third parties and may include social media features that the Company does not control. Your interactions with these features are governed by the privacy policy of the company providing the same.</p>
					<p appify_fntsize="13px" style="text-align: justify;"><em appify_fntsize="13px" style="font-size: 13px;">Minors</em></p>
					<p appify_fntsize="13px" style="text-align: justify;">Our App does not knowingly collect or store any personal information about children under the age of 13 without permission from a parent or guardian. If you are a parent or guardian and you think your child under 13 has given us information, please contact us.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(B) <u appify_fntsize="13px" style="font-size: 13px;">Data Sharing</u></p>
					<p appify_fntsize="13px" style="text-align: justify;">We do not share your personal information for any commercial or marketing purpose if unrelated to the delivery of KODAK SMILE Products and Services without your consent. Note that your consent would have been required if you connect your third party products and services to the KODAK SMILE Device, if any. You can change your mind anytime by opting out, where applicable.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Please note though that we may have vendors, service providers, and technicians who help with some of our processing and storage of information, including helping to answer your questions when you request for customer support. They may also assist with monitoring our servers for technical problems. These technicians can access certain information about you in line with this work but these technicians are not allowed to use this data for unauthorized purposes. We also have strict policies and technical barriers in place to prevent unauthorized employee access to your data.</p>
					<p appify_fntsize="13px" style="text-align: justify;">In the event that the Company or all or part of the Company’s assets is sold or transferred to a third party, your personal information may be among the items sold or transferred as well. If such is indeed the case, we will request the purchaser to secure and treat your data in accordance with the Privacy Policy in place at the time of its collection.</p>
					<p appify_fntsize="13px" style="text-align: justify;">We may also provide information to a third party if we believe in good faith that we are required to do so for legal reasons, such as, disclosures pursuant to legal processes, U.S. state and federal laws, or foreign laws.</p>
					<p appify_fntsize="13px" style="text-align: justify;">We may also share non-personal information (<em appify_fntsize="13px" style="font-size: 13px;">e.g.</em>, de-identified or aggregate data) publicly and with our partners and, in some cases, to other users to help us generally improve our products and services. Please note though that we employ methods to keep this data from being associated with you and require our partners to do the same.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Your personal information may be collected, processed and stored by the Company or its service providers in the United States and other countries outside the European Union where our servers reside. As a result, your personal information may be subject to legal requirements, including transborder transfer of data regulations or other lawful requirements to disclose personal information to government authorities. You also agree to comply with all applicable export and import laws and regulations.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(C) <u appify_fntsize="13px" style="font-size: 13px;">Security</u></p>
					<p appify_fntsize="13px" style="text-align: justify;">The security and integrity of your personal information is of paramount concern to us. For this reason, we and our storage providers, if any, use commercially reasonable physical, administrative, and technological methods to collect, process, transmit and store your data securely. However, by using our App, you understand that the Company cannot guarantee unauthorized access at all times. In the event this occurs, we will take reasonable steps to investigate, notify those affected whenever appropriate, and take other steps in accordance with any applicable laws and regulations.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(D) <u appify_fntsize="13px" style="font-size: 13px;">International Visitors and Data Transfers</u></p>
					<p appify_fntsize="13px" style="text-align: justify;">The App is subject to U.S. laws, which may not provide the same level of protection as those in your country. If you live outside the United States, you understand and agree that we may transfer your information to the United States or our offices in other countries. &nbsp;If you are accessing the site from the European Union or other regions with laws governing data collection and use that may differ from U.S. law, you may be engaging in transborder transfer of data. By providing your personal data in our App, you consent to that transfer.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(E) <u appify_fntsize="13px" style="font-size: 13px;">Opt-Out Rights</u></p>
					<p appify_fntsize="13px" style="text-align: justify;">You have the right to opt-out of this arrangement and stop all collection of information by the App easily by uninstalling the App from your KODAK SMILE Device. Kindly follow the standard uninstall processes available on your mobile device or through the mobile application marketplace or network.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(F) <u appify_fntsize="13px" style="font-size: 13px;">Changes and Concerns</u></p>
					<p appify_fntsize="13px" style="text-align: justify;">Please note that this Privacy Policy may change from time to time. Updates will be posted on the <span appify_fntsize="13px" style="font-size: 13px;"><a href="http://www.kodakphotoplus.com" appify_fntsize="13px" style="font-size: 13px;">www.kodakphotoplus.com</a></span>. You are advised to consult the Privacy Policy regularly for any changes, as your continued use, downloading or accessing of the App shall be deemed your approval of such changes.</p>
					<p appify_fntsize="13px" style="text-align: justify;">If you have a dispute with us about our adherence to applicable law or any concern regarding your personal information, please contact us at:</p>
					<p appify_fntsize="13px" style="text-align: justify;">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span appify_fntsize="13px" style="font-size: 13px;"><a href="mailto:kodak@camarketing.com" appify_fntsize="13px" style="font-size: 13px;">kodak@camarketing.com</a></span> <br appify_fntsize="13px" style="font-size: 13px;"> Telephone: &nbsp;&nbsp;&nbsp;&nbsp; 1-844-516-1539<br appify_fntsize="13px" style="font-size: 13px;"> Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 114 Tived Lane East, Edison, NJ 08837</p>
					<ol start="7" appify_fntsize="15px" style="text-align: justify;">
						<li appify_fntsize="15px" style="text-align: justify;"><u appify_fntsize="15px" style="text-align: justify;">Dispute Resolution and Arbitration</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company and you agree to arbitrate all disputes and claims that arise from or relate to these Terms or the Services in any way. This agreement to arbitrate is intended to be broadly interpreted.</p>
					<p appify_fntsize="13px" style="text-align: justify;">You agree that, by entering into this agreement, we are each waiving the right to a trial by jury or to participate in a class or representative action. These Terms evidence a transaction in interstate commerce, and thus the Federal Arbitration Act governs the interpretation and enforcement of this arbitration provision.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If either of us intends to seek arbitration of a dispute, that party must provide the other with notice in writing. The notice to the Company should be sent to:</p>
					<p appify_fntsize="13px" style="text-align: justify;">C&amp;A Marketing, Inc.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Attention:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Office of the General Counsel</p>
					<p appify_fntsize="13px" style="text-align: justify;">Address: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 114 Tived Lane East, Edison NJ 08837</p>
					<p appify_fntsize="13px" style="text-align: justify;">Telephone:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (848) 244 2000</p>
					<p appify_fntsize="13px" style="text-align: justify;">The Company will send notice to you at the e‑mail and/or mailing addresses associated with your Account. Your notice to the Company must (a) provide your name, mailing address, and email address; (b) describe the dispute; and (c) state the relief you are requesting. If we are unable to reach an agreement to resolve the dispute within 60 days after the notice is received, either of us may commence arbitration.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The arbitration will be governed by the Consumer Arbitration Rules (“AAA Rules”) of the American Arbitration Association (“AAA”), as modified by these Terms, and will be administered by the AAA. If the AAA is unavailable, the parties shall agree to another arbitration provider or the court shall appoint a substitute. Unless we agree otherwise, any arbitration hearings will take place in the county where you are receiving our Services. If the value of your claim is $10,000 or less, we agree that you may choose whether the arbitration will be conducted solely on the basis of documents submitted to the arbitrator, by telephone, or by an in-person hearing. If the value of your claim exceeds $10,000, the right to a hearing will be determined by the AAA Rules.</p>
					<p appify_fntsize="13px" style="text-align: justify;">Regardless of the manner in which the arbitration is conducted, the arbitrator shall issue a reasoned written decision sufficient to explain the essential findings and conclusions on which the award is based. All issues are for the arbitrator to decide, except that issues relating to the scope and enforceability of this arbitration provision or the arbitrability of disputes are for the court to decide. The arbitrator may consider but is not bound by rulings in other arbitrations between the Company and other KODAK SMILE users. The arbitrator can award the same individualized damages and relief that a court can award, including which of us shall bear the costs of arbitration. Judgment on the award may be entered by any court having jurisdiction.</p>
					<p appify_fntsize="13px" style="text-align: justify;">The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claim. YOU AND THE COMPANY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS, REPRESENTATIVE, OR PRIVATE ATTORNEY GENERAL PROCEEDING.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(d)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Notwithstanding the foregoing, the Company may seek injunctive or other equitable relief to protect its confidential information and intellectual property rights or to prevent loss of data or damage to its servers in any court of competent jurisdiction.</p>
					<ol start="7" appify_fntsize="16px" style="font-size: 16px;">
						<li appify_fntsize="16px" style="font-size: 16px;"><u appify_fntsize="16px" style="font-size: 16px;">General</u></li>
					</ol>
					<p appify_fntsize="13px" style="text-align: justify;">(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms will remain in full force and effect so long as you continue to access or use the KODAK SMILE Products and Services, or until terminated in accordance with the provisions of these Terms. The Company reserves the right, at any time, to modify, suspend, or discontinue the KODAK SMILE Products and Services or any part thereof with or without notice. You agree that the Company will not be liable to you or to any third party for any modification, suspension, or discontinuance of the Services or any part thereof. Notwithstanding any provision of these Terms, the Company may at any time (i) suspend or terminate your rights to access or use the KODAK SMILE Products and Services, or (ii) terminate these Terms with respect to you if the Company in good faith believes that you have used the KODAK SMILE Products and Services in violation of these Terms, including any incorporated guidelines, terms or rules. Upon termination of these Terms, your Account and your right to use the KODAK SMILE Products and Services will automatically terminate.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Company reserves the right to make changes to these Terms. You should ensure that you have read and agree with our most recent Terms when you use the KODAK SMILE Products and Services. Continued use of the KODAK SMILE Products and Services following notice of such changes shall indicate your acknowledgment of such changes and agreement to be bound by the revised Terms.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms, and any claim, dispute, action, cause of action, issue, or request for relief arising out of or relating to these Terms or your use of the KODAK SMILE Products and Services shall be governed by the laws of the State of New Jersey without giving effect to any conflict of laws principles that may provide the application of the law of another jurisdiction. You agree to submit to the personal jurisdiction of the state and federal courts in or for the Middlesex County of New Jersey for the purpose of litigating all such claims or disputes, unless such claim or dispute is required to be arbitrated as set forth in Section 6 above.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms constitute the entire agreement between you and the Company regarding the use of the KODAK SMILE Products and Services. Any failure by the Company to exercise or enforce any right or provision of these Terms shall not operate as a waiver of such right or provision. Waivers are effective only if in writing and signed by a duly authorized officer of the Company. The section titles in these Terms are for convenience only and have no legal or contractual effect. If any provision of these Terms is, for any reason, held to be invalid or unenforceable, the other provisions of these Terms will be unimpaired and the invalid or unenforceable provision will be deemed modified so that it is valid and enforceable to the maximum extent permitted by law. Neither party is an agent or partner of the other party.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(e) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The obligations in these Terms will survive any expiration or termination thereof.</p>
					<p appify_fntsize="13px" style="text-align: justify;">(f) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; These Terms, and any associated rights or obligations, may not be assigned or otherwise transferred by you without the Company’s prior written consent. These Terms may be assigned by the Company without restriction. These Terms are binding upon any permitted assignee.</p>

				</div>
			</div>
		</div>


	</div>

</article>
